.text-block-ca {
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
    color: white;
    position: absolute;
    top: 25%;
    width:auto;
    left: 41%;
    transform: translate(-50%, -50%);
    text-align: left;
    margin:20px;
  }

  .CAcardimgstyling{
    height: 250px;
    width: 200px;
}
@media (max-width: 768px) {
  .CAcardimgstyling{
    height: 190px;
    width: 150px;
}
}