.about{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.text-block-about {
    height: 220px;
    width: 700px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
    color: white;
    position: absolute;
    left: 50%;
    bottom: 300%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.CL_text_about{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.aboutimg{
    height:800px;
}

@media (max-width: 768px) {
.text-block-about {
    height: 170px;
    width: 350px;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 250%;
    transform: translate(-50%, -50%);
    display: inline-block;
  }

  .aboutimg{
    height:650px;
    }
}