.card-header{
    margin-top: 0;
    margin-bottom: 0;
}

.text-block-research {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    height: 250px;
    padding: 5px;
    text-align: center;
  }

  .image-research {
    height: 60vh;
  }

  .carousel-indicators li { visibility: hidden; }
  
  @media (max-width: 768px) {
      .text-block-research {
        top: 35%;
        height: 190px;
      }
  }