#inst {
    color: gray;
    font-size: 75%;
}

#footer-links {
    float: right;
    position: relative;
}
  
#footer-logo {
    float: left;
    text-align: center;
}

#footer {
    background-color: #050505;
    display: block;
    position: relative;
    width: 100%;
    padding:0;
    bottom:0;
    padding: 0;
    margin-bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

@media (max-width: 768px) {
    #footer-logo {
        float: left;
        text-align: center;
    }
}