.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    color: #262626;
}


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*#282c34*/
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#footer {
  background-color: #1a1a1a;
  bottom: 0;
  position: relative;
  height: 75px;
}

#footer-links {
  float: right;
  position: relative;
}

#inst {
  color: gray;
  font-size: 75%;
}

#links {
  color: #b3b3b3;
  font-size: 85%;
  font-weight: normal;
}

#footer-logo {
  float: left;
  text-align: center;
}

.CL_height_navbar{
  height: 50px;
}

.navbar {
  font-size: .88em;
  display: flex;
}

.navbar-nav .Navlink{
  color: yellow;
}

.card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.people{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.research{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sec-heading{
  text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.paper {
  width: 90vw;
  max-width: 90vw;
}

.widget {
  background-color: #343a40;
  border: 10px solid black;
  padding: 30px;
  margin: 5px;
}

.dropdown{
  margin-left: 0px;
}

.about{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.researchname {
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 85vh;
  align-items: center;
  justify-items: center; /* adjusted */
}

.wrapperimage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 85vh;
  background-size: cover;
}

.wrapperresearch {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh;
  align-items: center;
  justify-items: center;
}

.wrapperresearchimage {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50vh;
}

* {
  border-radius: 0 !important;
}

.research{
  overflow-x: hidden;
}

.news{
  overflow-x: hidden;
}

.qcf{
  overflow-x: hidden;
  overflow-y: hidden;
}

.Header {
  position: fixed;
  top: 0; /* Stick it to the top */
  max-height: 70px;
  width: 100vw;

  display: grid;
  grid-template-areas: "logo nav";

  /* Cosmetics */
  background-color: #282c34;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Logo {
  grid-area: logo;
  height: 70px;
}
.CL_header_texts {
  font-size: 20px;
  margin-left: 20px;
}

.CL_people_header_texts {
  font-size: 15px;
  margin-left: 30px;
}

.CL_people_header_people{
  font-size: 20px;
  margin-left: 50px;
}

.CL_Nav {
  display: grid;
  grid-area: nav;
  grid-template-columns: repeat(7, auto);
  align-items: center;
  justify-items: center;

}
.CL_Nav a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  height: 40px;
}
.CL_Nav a:hover {
  transform: scale(1.1);
}
.CL_Nav button {
  padding: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  transition: 70ms;
}

.CL_Nav button:active {
  transform: translateY(3px);
  box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
}

.Burger {
  display: none;
  grid-area: burger;
  margin: 0 20px 0 0;
  padding: 0;
  justify-self: end;
  font-size: 20px;
  color: #fff;
  border: none;
  background: none;
  outline: none;
  transition: 0.1s;
}
.Burger:active {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .Header {
    grid-template-areas: "logo burger" "nav nav";
  }
  .CL_Nav {
    grid-template-rows: repeat(7, auto);
    grid-template-columns: none;
    grid-row-gap: 20px;

    padding: 30px 0 30px;
    background: rgba(40, 44, 47, 0.95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .Burger {
    display: inline;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh;
    align-items: center;
    justify-items: center; /* adjusted */
  }
  
  .wrapperimage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh;
    background-size: cover;
  }
}

.NavAnimation-enter {
  opacity: 0;
  transform: scale(0.5);
}
.NavAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
}
.NavAnimation-exit {
  opacity: 1;
}
.NavAnimation-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 350ms, transform 350ms;
}

.navbar.second-navbar {
  margin-top: 50px;
  transition: all .5s ease-in-out;
}

.researchcard{
  display: flex;
  flex-flow: row wrap;
}

.table{
  border-collapse: collapse;
}


.wrapper2 {
  grid-template-rows: 100vh;
}

.text-block {
  height: 250px;
  width: 500px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.85); /* Black background with 0.5 opacity */
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-items: center;
}

.text-block-card {
  font-family: Arial, Helvetica, sans-serif;
  height: 60px;
  width: 350px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.85); /* Black background with 0.5 opacity */
  color: white;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-block-about {
  height: 350px;
  width: 850px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.85); /* Black background with 0.5 opacity */
  color: white;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.CL_text_about{
  width: 800px;
  height: 300px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.text-block-btn {
  color: white;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-block-qcf {
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
  color: white;
  position: absolute;
  top: 15%;
  width:1300px;
  left: 44%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.a{
  text-decoration:none
}

.noHover{
  pointer-events: none;
}

.text-block-research {
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-block-ca {
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
  color: white;
  position: absolute;
  top: 25%;
  width:1000px;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.CL_img-container {
  overflow: hidden;
 height: 1020px;
  max-height: 1020px;
  position: relative;
}

.CL_img {
 display: block;
   width: 100%;
   height: auto;
   position: absolute;
   bottom: 0;
}